.main-header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
}

.main-header__container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;

  .main-logo {
    width: 80px;
  }

  .main-header__title {
    margin-left: .5em;

    font-size: 2em;
    font-weight: 300;
  }

  .hamburger {
    display: block;
    margin-left: auto;

    font-size: 2em;
    color: #212121bf;
    cursor: pointer;
  }
}

@media screen and (min-width: 580px) {
  .main-header__container {
    .hamburger {
      display: none;
    }
  }
}
