.main-nav {
  width: 100%;

  transition: max-height .8s linear;
  overflow: hidden;

  &--closed {
    max-height: 0;
  }

  &--opened {
    max-height: 540px;
  }
}

.main-nav__items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  .main-nav__item {
    width: 100%;

    a {
      display: block;
      width: 100%;
      padding: 1em;

      font-size: 1em;
      line-height: 2em;
      text-transform: uppercase;
      text-align: center;

      cursor: pointer;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 580px) {
  .main-nav {
    &--closed {
      height: auto;
    }
  }

  .main-nav__items {
    flex-direction: row;
    align-items: flex-start;

    .main-nav__item {
      width: auto;
      padding: 1.5em;

      a {
        display: inline;
        padding: 1.5em;
      }
    }
  }
}
