.main__footer {
  margin-top: 20px;

  border-top: 1px solid #E0E0E0;
  width: 100%;

  color: #424242;
}

.footer__nav__list {
  display: flex;
  justify-content: space-between;

  width: 30%;

  a {
    display: block;
    padding: 1em;

    font-size: 1.5em;

    &:hover {
      color: #f0f;
    }
  }
}
